
<% layout( './layouts/boilerplate' ) %>


<div class="main">
    <div class="blog">
        <!-- error and success flash message-->
        <p><%=success %></p>
        <p><%=error %></p>
    
            
        <% for (let blog of blogs){ %>
            <div class="details">
                <a href="/blog/<%=blog._id%>/">
                    <h1><%= blog.title %></h1>
                    <p><%=blog.body %></p>
                    <span><%=blog.author %></span>
                </a>
            </div>
           
        <% } %>
    
    
        <!-- <a class="button" href="/blog/newblog">create new post</a>  -->
    </div>
</div>
