<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <%if (currentUser){ %>
                <a href="/logout">logout</a>
           <% }else {%>
            <a href="/login">Sign-in</a>
            <a href="/register">Signup</a>
            <% } %>
        </div>
    </nav>


    <h1>HERE IS YOUR HOME BLOG</h1>
<!-- error and success flash message-->
    <p><%=success %></p>
    <p><%=error %></p>

    <% if (currentUser){ %>
        <span>welcome <%=currentUser.username%></span>
    <% } %>
        
    <% for (let blog of blogs){ %>
        <a href="/blog/<%=blog._id%>/">
            <li><%= blog.title %></li>
            <p><%=blog.body %></p>
            <span><%=blog.author %></span>
        </a>
       
    <% } %>


    <a href="/blog/newblog">create new post</a>
    
</body>
</html>