<% layout( './layouts/boilerplate' ) %>
    <nav>
        <div class="navbar">
           
            <%if (currentUser){ %>
                <a href="/logout">logout</a>
           <% }else {%>
            <a href="/login">Sign-in</a>
            <a href="/register">Signup</a>
            <% } %>
        </div>
    </nav>


    <p><%=success %></p>
    <p><%=error %></p>
    <h1>show page</h1>

    <% for(let img of blog.images){ %>
        <img src="<%=img.url%>" alt="">
    <% } %>

    <h2>Title: <%= blog.title %></h2>
    <p>Content: <%= blog.body %></p>
    <p>author:<%=blog.user.username %></p>


    <%if (currentUser && blog.user.equals(currentUser._id)){ %>
        <a href="/blog/<%=blog._id%>/edit">edit </a>
        <form action="/blog/<%=blog._id%>?_method=DELETE" method="POST">
         <button>Delete</button>
        </form>
    <% } %>
